.header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 15px
    margin-top: 15px
    &-navbar
        &__link
            font-family: Montserrat
            font-weight: 600
            font-size: 18px
            line-height: 22px
            margin-right: 85px
            &:last-child
                margin-right: 0px