* {
  box-sizing: border-box;
  font-family: Montserrat;
}

.container {
  max-width: 1770px;
}

a {
  color: #333333;
}

h1 {
  font-weight: 800;
  color: white;
}

h2 {
  font-weight: bold;
  color: white;
}

h3 {
  font-weight: normal;
  color: #333333;
  font-size: 48px;
  line-height: 59px;
}

span {
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header-navbar__link {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-right: 85px;
}

.header-navbar__link:last-child {
  margin-right: 0px;
}

.header-navbar2 {
  display: none;
}

@media (max-width: 1100px) {
  .header-navbar {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: white;
}

.hero__container-block-title {
  font-weight: 800;
  font-size: 65.3742px;
  line-height: 86px;
  margin-bottom: 32px;
}

.hero__container-block-subtitle {
  font-weight: bold;
  font-size: 18.4581px;
  line-height: 29px;
  margin-bottom: 70px;
}

.hero__container-block-button {
  background: #FF9900;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  padding: 20px 30px;
}

@media (max-width: 1859px) {
  .hero__container-block-title {
    font-size: 60px;
    line-height: 73px;
  }
  .hero__container-block-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1300px) {
  .hero__container-block-title {
    font-size: 60px;
    line-height: 71px;
  }
  .hero__container-block-subtitle {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (max-width: 860px) {
  .hero__container-block-title {
    font-size: 56px;
    line-height: 73px;
  }
  .hero__container-block-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 650px) {
  .hero__container-block {
    text-align: center;
  }
  .hero__container-block-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .hero__container-block-subtitle {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}

.slick-arrow {
  display: none !important;
}

.about {
  margin-top: 100px;
}

.about-title {
  margin-bottom: 20px;
}

.about-subtitle {
  max-width: 80%;
  margin-bottom: 44px;
}

.about__wrap {
  display: flex;
}

.about__wrap__block {
  background-image: url(../img/about/about-img.jpg);
  background-repeat: no-repeat;
  padding: 0 !important;
  padding-top: 400px !important;
}

.about__wrap__block__container {
  padding: 30px 30px 20px 30px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.about__wrap__block__container-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.about__wrap__block__container-button {
  padding: 19px 38px;
  color: white;
  border-radius: 0;
  border: 3px solid #FF9900;
}

.about__wrap__container__block {
  display: flex;
}

.about__wrap__container__block__text {
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=main.css.map */